<nav class="navbar navbar-expand-lg sticky-top navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" >Stevetors</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#">Find Passion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" aria-expanded="false">
              Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" aria-expanded="false">
              Skills
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#" tabindex="-1">
              Hire
            </a>
          </li>
        </ul>
        
        <form class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/account/login']" routerLinkActive="activebutton" >Login</a>
                </li>
            </ul>
          <button class="btn bg-dark" type="submit" [routerLink]="['/account/sign-up']" routerLinkActive="activebutton" >Sign Up</button>
        </form>
      </div>
    </div>
</nav>