.navbar-brand{
    width: 172px;
    height: 51px;
    top: 11px;
    left: 45px;
    font-weight: 400;
    font-size: 30px;
    line-height: 50.67px;
    color: #000000;
    font-family: 'Rammetto One';
}

.account li a{
    cursor: pointer;
}


.login-contaner{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.login-contaner .left{
    display: flex;
    flex-direction: column;
    width: 49%;
}

.left img{
    margin-left: 15%;
    width: 438px;
    height: 515px;
    top: 115px;
    left: 102px;
    gap: 0px;
    opacity: 0px;
}

.login-contaner .right{
    display: flex;
    flex-direction: column;
    width: 49%;
}

.login-contaner .right h2{
    width: 140px;
    height: 72px;
    top: 138px;
    left: 705px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 48px;
    font-weight: 400;
    line-height: 72px;
    text-align: left;
    color: #000000;
}

.input label{
    margin-bottom: 0;
    height: 30px;
    top: 227px;
    left: 705px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    color: #8E8E8E;
}

.input input{
    /* width: 537px; */
    height: 38px;
    top: 257px;
    left: 705px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;
    background: #FFFFFF;
}

.input input:focus{
    border: 2px solid #333BF9;
}

.error-message{
    color: rgb(200, 41, 41);
    padding: 0 0 10px 0;
}

.light-bg {
    background-color: rgb(87, 150, 214);
}

.password-reset{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 253px;
    height: 30px;
    top: 433px;
    left: 705px;
    gap: 0px;
    opacity: 0px;
}

.password-reset a{
    text-decoration: none;
    cursor: pointer;
}

.submit-btn{
    width: 231px;
    height: 50px;
    top: 486px;
    left: 700px;
    gap: 0px;
    border-radius: 15px;
    opacity: 0px;
    border: #333BF9;
    box-shadow: 4px 4px 4px 0px #A5B9FF;
}

.socials{
    margin: 5% 20%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 293px;
    height: 53px;
    top: 571px;
    left: 810px;
    gap: 0px;
    opacity: 0px;
}

.socials a img{
    margin:5px 20px;
    align-items: center;
    width: 47.04px;
    height: 48px;
    gap: 0px;
    opacity: 0px;
}


@media only screen and (min-width: 375px){
    
    .login-contaner .left{
        display: none;
    }
    .login-contaner .right{
        margin: 20px;
        width: 100%;
    }
    .input input{
        width: 100%;
    }
    .socials{
        width: 200px;
    }
}

@media only screen and (min-width: 360px){
    
    .login-contaner .left{
        display: none;
    }
    .login-contaner .right{
        margin: 20px;
        width: 100%;
    }
    .input input{
        width: 100%;
    }
    .socials{
        width: 200px;
    }
}

@media only screen and (min-width: 344px){
    
    .login-contaner .left{
        display: none;
    }
    .login-contaner .right{
        margin: 20px;
        width: 100%;
    }
    .input input{
        width: 100%;
    }
    .socials{
        width: 200px;
    }
}

@media only screen and (min-width: 768px){
    
    .login-contaner .left{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .left img{
        margin-left: 5%;
        width: 438px;
        height: 515px;
        top: 115px;
        left: 102px;
        gap: 0px;
        opacity: 0px;
    }
    .login-contaner .right{
        margin: 20px;
        width: 100%;
    }
    .input input{
        width: 100%;
    }
    .socials{
        width: 200px;
    }
}
