<body>
    <app-navbar></app-navbar>
    <div class="home-container">
        <div class="row-1">
            <div class="links">
                <ul>
                    <li>Watch</li>
                    <li>Learn</li>
                    <li>Grow</li>
                </ul>
            </div>
            <div class="image-container">
                <img src="../../assets/images/home/image1.png" class="img-fluid image1" alt="">
                <form class="form-overlay d-flex">
                    <input class="form-control me-2" type="search" placeholder="Find your passion" aria-label="Search">
                    <button class="search btn-outline-success" type="submit">Search</button>
                </form>
                <div class="text-overlay">
                    <p>Writing <br> course</p>
                    <h1>100</h1>
                    <p>Topics</p>
                </div>
                <img src="../../assets/images/home/image2.jpeg" class="img-fluid image2" alt="">
                <img src="../../assets/images/home/image3.jpeg" class="img-fluid image3" alt="">
            </div>
        </div>
        <div class="categories">
            <h2>Unlimited access to 100+ industry experts</h2>
            <ul>
                <li><a href="#" class="active">All Categories</a></li>
                <li><a href="#">Entertainment</a></li>
                <li><a href="#">Business</a></li>
                <li><a href="#">Science</a></li>
                <li><a href="#">Programming</a></li>
                <li><a href="#">UI/UX Design</a></li>
            </ul>
            <div class="cards">
                <div class="card-item">
                    <img src="../../assets/images/avatar/avatar.jpg" alt="">
                    <div class="center">
                        <div class="pagination">
                            <!-- <a href="#"><i class="fa-solid fa-angle-left"></i></a> -->
                            <a href="#">cooking</a>
                            <a href="#" class="#active">photography</a>
                            <a href="#">coding</a>
                            <a href="#" class="active"><i class="fa-solid fa-angle-right"></i></a>
                        </div>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="card-item">
                    <img src="../../assets/images/avatar/avatar.jpg" alt="">
                    <div class="center">
                        <div class="pagination">
                            <!-- <a href="#"><i class="fa-solid fa-angle-left"></i></a> -->
                            <a href="#">cooking</a>
                            <a href="#" class="#active">photography</a>
                            <a href="#">coding</a>
                            <a href="#" class="active"><i class="fa-solid fa-angle-right"></i></a>
                        </div>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="card-item">
                    <img src="../../assets/images/avatar/avatar.jpg" alt="">
                    <div class="center">
                        <div class="pagination">
                            <!-- <a href="#"><i class="fa-solid fa-angle-left"></i></a> -->
                            <a href="#">cooking</a>
                            <a href="#" class="#active">photography</a>
                            <a href="#">coding</a>
                            <a href="#" class="active"><i class="fa-solid fa-angle-right"></i></a>
                        </div>
                    </div>
                    <ul>
                        <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>