
.side-bar{
    display: flex;
    flex-direction: column;
    position: sticky;
    padding: 20px;
    width: 211px;
    height: 95vh;
    top: 61px;
    gap: 0px;
    opacity: 0px;
    background: #FFF9F9;
}

.side-bar a{
    top: 113px;
    left: 71px;
    gap: 0px;
    opacity: 0px;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    text-align: left;
    background: #FFF9F9;
    cursor: pointer;
}

.side-bar a img{
    margin-right: 20px;
    width: 20px;
    height: 20px;
    top: 115px;
    left: 21px;
    gap: 0px;
    opacity: 0px;
}

@media only screen and (max-width: 768px) {
    .side-bar a img{
        margin-right: 10px;
        left: 5px;
    }
    .side-bar{
        width: 65px;
    }
    .navbar-brand span {
        display: none;
    }
}
