<!-- side bar -->
<div class="side-bar">
    <nav class="navbar navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" (click)="updateSelectedItem('Categories')">
                <img src="assets/images/nav-icons/archive-tick.png" alt="">
                <span>Categories</span>
            </a>
        </div>
        <div class="container-fluid">
            <a class="navbar-brand" (click)="updateSelectedItem('Skills')">
                <img src="assets/images/nav-icons/category.png" alt="">
                <span>Skills</span>
            </a>
        </div>
        <div class="container-fluid">
            <a class="navbar-brand" (click)="updateSelectedItem('Hire')">
                <img src="assets/images/nav-icons/chart-success.png" alt="">
                <span>Hire</span>
            </a>
        </div>
        <div class="container-fluid">
            <a class="navbar-brand" (click)="updateSelectedItem('Mentors')">
                <img src="assets/images/nav-icons/profile-2user.png" alt="">
                <span>My Mentors</span>
            </a>
        </div>
    </nav>
</div>